.sidebar {
    position: fixed;
    left: -250px;
    top: 0;
    height: 100%;
    width: 250px;
    background-color: #343a40;
    color: white;
    padding-top: 20px;
    transition: left 0.3s ease-in-out;
}

.sidebar.active {
    left: 0;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    margin-bottom: 20px;
}

.btn-close {
    color: white;
    font-size: 30px;
    cursor: pointer;
    border: none;
    background: none;
}

.content {
    margin-left: 0;
    padding: 20px;
    transition: margin-left 0.3s ease-in-out;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 10px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar ul li:last-child {
    border-bottom: none;
}

.sidebar ul li a {
    display: block;
    color: white;
    text-decoration: none;
}

.sidebar ul li a:hover {
    color: #007bff;
    background-color: rgba(255, 255, 255, 0.1);
}

#generatedContent {
    font-size: 2em;
    font-family: sans-serif, cursive;
    font-weight: bold;
}

#randomContent {
    border: 2px transparent;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 4px 4px gray;
    padding: 15px;
}

body {
    background-color: #333;
    color: #eee;
}

.sidebar {
    background-color: #222;
    color: #eee;
}

.content {
    margin-left: 250px;
    background-color: #444;
    color: #eee;
    height: 100vh;
    padding: 20px;
}

.btn-primary {
    background-color: #5a98d1;
    border-color: #5a98d1;
}

.btn-primary:hover {
    background-color: #1f5b90;
    border-color: #1f5b90;
}

.number-box {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

#sidebarOpenBtnMobile {
    display: none; /* Hide the button by default */
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        left: -100%;
        transition: left 0.3s ease-in-out;
    }

    .sidebar.active {
        left: 0;
    }

    .content {
        margin-left: 0;
        padding: 20px;
    }
    
    #sidebarOpenBtnMobile {
        display: block; /* Show the button for screens <= 768px */
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 9999;
    }
}
